doctype html
html(lang='pl')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/cart.css')
    link(rel='stylesheet', href='css/style.css')
    title= "Lorem Quiz"
  body
    #app.outer
      // App
